<!DOCTYPE html>
<html>
<head>
  <title>RailsReactBrowserifyExample</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= react_component('Header', { name: 'Olivier' }, { prerender: true }) %>

<%= yield %>

</body>
</html>
